<div class="container mx-auto mt-10">
  <h1 class="text-center text-4xl font-bold mt-10 mb-10">Bienvenue chez Potion!</h1>

  <div class="flex flex-row">
    <div class="flex-initial w-60 text-center bg-indigo-400 hover:bg-indigo-500 py-5 mx-auto rounded">
      <%= link_to lots_path do %>
        <p class="text-lg text-white">Voir les Lots</p>
      <% end %>
    </div>
    <div class="flex-initial w-60 text-center bg-indigo-400 hover:bg-indigo-500 py-5 mx-auto rounded">
      <%= link_to bottles_path do %>
        <p class="text-lg text-white">Voir les Flacons</p>
      <% end %>
    </div>
  </div>
</div>
