<div class="container mx-auto mt-10">
  <h2 class="text-center text-2xl font-bold mt-10 mb-10">Ajout d'un Lot de matière première</h2>
  <%= render 'form', lot: @lot %>
  <%= link_to 'Retour', lots_path, class: "underline underline-offset-4 underline decoration-indigo-400 hover:text-indigo-400" %>
</div>
